<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <h1>Je fais du Symfony</h1>
        {% set michel = 42 %}
        {{ michel }}

        {% set jello = -10 %}
        {{jello | abs }}

        {{42.234 | round(1, 'ceil')}}
        {{42.234 | round(1, 'floor')}}
        {{42.234 | round(1, 'common')}}

        {{'element chimique ' | title }}
        {{max(1,5,22)}}
        {{min(1,5,22)}}

        {% if users %}
        <ul>
            {% for user in users %}
            <li>{{ user.username }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block body %}{% endblock %}
    </body>
</html>
